body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #FFFBEB;
    background: linear-gradient(to right, #495579 30%, #263159 70%);
}

.login-container {
    display: flex;
    align-items: center;
    height: 100vh;
}

.form-section {
    width: 400px; /* Lebar tetap untuk form */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    margin-left: 100px;
    transform: translateX(40px);
}

.form-wrapper {
    font-size: 0.9rem;
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.form-wrapper h1{
    font-size: 2rem;
    background: linear-gradient(50deg, #FFD66B, #FFFBEB);
    -webkit-background-clip: text; /* Untuk browser WebKit (Chrome, Safari) */
    background-clip: text;
    color: transparent; /* Membuat warna teks asli transparan */
    -webkit-text-fill-color: transparent; /* Untuk Safari */
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-top: 15px;
}

input[type="fullname"],
input[type="username"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    background-color: #DCF2F1;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 14px;
}

.password-wrapper {
    position: relative;
}

.password-wrapper .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
    font-size: 16px;
    width: 24px;  /* lebar tetap supaya tidak geser */
    text-align: center;
}

.forgot-password {
    text-align: right;
    margin-top: 5px;
}

.button-center {
    text-align: center;
}

button {
    display: inline-block;
    background: linear-gradient(to right, #FFD66B, #FFE7A0);
    color: #1d2b53;
    padding: 0.5rem 1.2rem;
    font-size: 0.9rem;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
    border: none; /* ← ini hapus border hitam */
    outline: none; /* opsional, hilangkan outline saat fokus */
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(255, 214, 107, 0.4);
}

.register-text {
    margin-top: 15px;
    text-align: center;
}

.register-text a,
.forgot-password a {
    color: #FFFBEB;
    text-decoration: underline;
}

.image-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;

}

.image-section img {
    width: 70%;
    height: 100vh;
    object-fit: cover;
}

/* Responsif untuk layar kecil */
@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
    }
    .image-section {
        display: none;
    }
}
